

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


#logo {
    float: left;
    font-size: 220%;
    margin-left: 1.875rem;
    color: black;
 }

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(247, 197, 204, 1.0);
    color: #59606d;

}

header {
    background-color: yellowgreen;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    right: 0%;
    top: 0%;
    position: fixed;
    z-index: 99; /* to prevent map image in contact to go over header when scrolling */
}

header a {
    text-decoration: none;
    height: 90px;
}

#menu {
    font-size: 130%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 0px;
}

#menu>li {
    margin-bottom: 1em;
}

#menu>li a {
    margin-bottom: 1em;
    color: black;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: yellowgreen;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 20px #3a3a3a;
    display: none;
    top: 90px;
}


/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* ****** footer ****** */
footer {
    background-color: yellowgreen;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 65px;
}

footer>p {
     font-size: 80%;
     margin-top: 0;
}

header>a>h1 {
    margin-top: 5px;
}

#social-networks {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    padding: 1px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 2%;
    color: black;
}
/* ***** end of footer ***** */


/* --------- css for index.html ------------ */
/* Page Section */
#page {
    width: 100%;
    margin: 50px auto;
}

#page h2 {
    margin-bottom: 70px;
    text-align: center;
    font-size: 250%;
    font-family: 'Shadows Into Light', sans-serif;
    margin-top: 120px;
}

#page-image {
    background: url('../images/yoga_photo_2.jpg') no-repeat bottom center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 35px;
    max-width: 600px;
    max-height: 800px;
}

#descriptions-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#description-yoga>div,
#description-meditation>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#description-yoga h2,
#description-meditation h2 {
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
}

#descriptions p {
    margin-top: 100px;
    padding: 10px;
    font-size: 210%;
    margin-top: 30px;
    font-family: 'Shadows Into Light', sans-serif;
    font-weight: 650;
    line-height: 1.5;
}

/* --------- css for classes.html ------------ */
#welcome {
    width: 90%;
    margin-top: 120px;
}

#welcome h2 {
    text-align: center;
    font-size: 450%;
    font-family: 'Shadows Into Light', sans-serif;
    margin: 0px 0px 0px 70px;
}

.classes_image {
    display: block; 
    text-align: center;
    padding: 20px;
    background-color: rgba(247, 197, 204, 0);
}

.classes_image img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 85px;
}

#explain {
    letter-spacing: 0.25rem;
     padding: .5rem;
     background-color: rgba(247, 197, 204, 0);
     text-align: center;
     font-size: 130%;
     font-family: 'Oswald', sans-serif;
     text-transform: uppercase;
     max-width: 65.625rem;
     height: 10rem;
     margin: 1.125rem auto 5rem auto
 }
 
 
 #explain>h2 {
     background-color: rgba(247, 197, 204, 0.8);
     padding-bottom: 5px;
     border: 1px solid black;
     border-radius: 10px;
 }

 .wrapper-classes {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 75px;
    padding: 0 1.25rem;
    align-items: flex-start;
 
 }
 
 .wrapper-classes div {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
 }
 
 .wrapper-classes * {
    margin: 0 0.625rem;
    flex: 1 100%;
    border-radius: 10px;
    text-align: left;
 }

 .classes-time {
    background: black;
    flex: 0 1 21.875rem;
    margin-top: 1.56rem;
    margin-bottom: 10px;
    background-color: rgba(247, 197, 204, 0.8);
    padding-bottom: 5px;
    border: 1px solid black;
 }

 .classes-time>h2 {
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: gray;
}

.classes-time p {
   letter-spacing: 0.05rem;
   font-weight: 600;
   color: #59606d;
   margin-bottom: 10px;
}

.classes-time span {
    margin-top: 0.625rem;
    letter-spacing: 0.125rem;
    font-size: 1.17rem;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', sans-serif;
    color: var(--darkgrey);
    text-decoration: underline;
 }

 .classes-header {
    border-bottom: 0.15rem solid #59606d;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 180%;
    padding-top: 0.625rem;
    font-family: 'Shadows Into Light', sans-serif;
    letter-spacing: 0.25rem;
    font-weight: bold;
 }

 .fa-regular {
    margin-bottom: 5px;
}


/* --------- css for contact.html ------------ */
#contact-section {
    background-image: url("../images/spiritual_photo_1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    overflow: visible;
    min-height: 56.25rem;
    padding-top: 1px;
    margin-top: 120px;
    margin-bottom: 90px;
 }
 
 /*
 #contact-div-wrap {
    width: 80rem;
    margin: 4.6875rem auto;
 }
 */
 
 .contact-div {
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.06875rem;
    font-size: 110%;
    background-color: rgba(247, 197, 204, 0.7);
    border-radius: 10px;
    padding: 1.875rem;
    height: 40.5rem;
    border: 1px solid black;
    color: #4b525e; /* a bit darker color for the Contact page for better contrast */
    font-weight: bolder;
    margin: 70px 50px 30px 50px;
 }
 
 .contact-div h2 {
    text-transform: uppercase;
    font-size: 180%;
    padding-bottom: 1.25rem;
    text-decoration: underline;
 }
 
 #contact-div-right {
     margin-bottom: 100px;
 }
 
 #contact-div-right p {
   height: 100px;
   font-size: 110%;
 }

/* Form styling */
.text-input {
    background: rgba(255,255,255,0.5);
    font-family: Lato, sans-serif;
    font-size: 100%;
    font-weight: 600;
    width: 100%;
    margin: 0.3125rem 0 1.25rem 0;
    border: 0.0625rem solid #59606d;
    border-radius: 2px;
    padding: 0.3125rem;
    letter-spacing: 0.06875rem;
 }
 
 .text-input:hover {
    border-color: whitesmoke;
 }
 
 .text-input-line {
    height: 2rem;
 }
 
 .text-input-box {
    height: 10rem;
    resize: none;
 }

/* Find us styling */
#location-map {
    width: 100%;
    height: 20rem;
    opacity: 0.9;
 }
 
 #location-iframe {
    width: 100%;
    height: 100%;
    border: none;
    scroll-behavior: unset;
    margin: 0;
 }

 /* --------- css for thanks.html ------------ */
 #thanks {
    color: #59606d;
    background-color: rgba(247, 197, 204, 1);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 180px;
    font-size: 180%;
}

#style-text {
    font-family: 'Shadows Into Light', sans-serif;
}

/* ************************ MEDIA QUERIES ************************* */

/* **************************************************************** */
/* Media query tablets and larger (768px and up) */
/* **************************************************************** */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        height: 30px;
        padding-right: 1rem;
        top: 10px;
    }

    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .active {
        border-bottom: 1px solid #3a3a3a;
    }


    /* **************** Index.html ***************** */
    #description-yoga,
    #description-meditation {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #description-yoga>div,
    #description-meditation>div {
        width: 75%;
    }

    #description-meditation>div {
        text-align: end;
        align-self: flex-end;
    }


    /* ****************** classes.html ************** */
    #classes-section {
        background-image: url("../images/yoga_photo_4_hero.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        max-width: 100%;
        overflow: hidden;
        min-height: 50%;
        margin-top: 20px;
        margin-bottom: 120px;
        }
        
        /* remove default image for small screens */
        .classes_image {
            display: none;
        }
    
        .classes_image img {
           display: none;
        }

        #explain {
            margin: 1.125rem auto 4rem auto;
            font-size: 180%;
        }
}
    /* ********* END **********(768px and up)************************** */


    /* **************************************************************** */
/* Media query laptops and larger (1250px and up) */
/* **************************************************************** */
@media screen and (min-width: 1250px) {

    #descriptions {
        display: flex;
        flex-direction: row;
    }

    #descriptions>div {
        flex: 1;
    }

    #descriptions-image {
        order: 0;
        margin-bottom: 300px;
    }

    #description-meditation {
        order: 1;
    }

    #description-meditation>div {
        align-self: flex-start;
    }

    #description-yoga>div {
        align-self: flex-end;
    }

    #description-yoga p {
        width: 300px;
    }
    
    #description-meditation p {
        width: 300px;
    }

    /* **************** Contact.html ***************** */
    #contact-section {
        width: 90%;
        margin: 105px auto 80px auto;
    }
    
    #contact-div-wrap {
        width: 80rem;
        margin: 4.6875rem auto;
    }
    
    #contact-div-left {
        width: 25rem;
        float: left;
        margin: 20px 50px 30px 30px;
    }
    
    #contact-div-right {
        width: 25rem;
        float: right;
        margin: 20px 160px auto auto;
    }
}
/* ******************(1250px and up)**************************** */
    